@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(26, 7, 0);
  --foreground: rgb(255, 222, 210);
  --primary: rgb(199, 53, 0);
}

* {
  border-color: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: larger;
}

h1 {
  font-size: 3rem;
}

button {
  font-weight: bold;
  color: var(--primary);

  &:hover {
    background: var(--primary);
    color: var(--background);
  }
}
