@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-a: rgb(26, 7, 0);
  --background-b: rgb(89, 24, 0);
  --background-c: rgb(114, 31, 0);
  --foreground: rgb(255, 222, 210);
  --primary-a: rgb(216, 58, 0);
  --primary-b: rgb(255, 68, 0);
}

* {
  border-color: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background-a);
  font-size: larger;
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--background-a);
  background-color: var(--primary-a);

  &:hover {
    background: var(--primary-b);
    color: var(--background-b);
  }

  /* &#nameButton {
    background-color: var(--background-a);

    &:hover {
      background: var(--primary-a);
      color: var(--background-b);
    }
  } */
}

#abilities > div {
  background-color: var(--background-b);
}
